changelog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Matej Sekoranja (JSI) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="bug">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="severity" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="major"/>
								<xs:enumeration value="normal"/>
								<xs:enumeration value="minor"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="file" type="xs:string"/>
					<xs:attribute name="class" type="xs:string"/>
					<xs:attribute name="method" type="xs:string"/>
					<xs:attribute name="who" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="changelog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="devs"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="project" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="who" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="devs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="enhancement">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="file" type="xs:string"/>
					<xs:attribute name="class" type="xs:string"/>
					<xs:attribute name="method" type="xs:string"/>
					<xs:attribute name="who" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fix">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="file" type="xs:string"/>
					<xs:attribute name="class" type="xs:string"/>
					<xs:attribute name="method" type="xs:string"/>
					<xs:attribute name="who" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="email" type="xs:string" use="required"/>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="expertise" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="fix"/>
				<xs:element ref="enhancement"/>
				<xs:element ref="bug"/>
				<xs:element ref="comment"/>
			</xs:choice>
			<xs:attribute name="ver" type="xs:string" use="required"/>
			<xs:attribute name="build" type="xs:string" use="required"/>
			<xs:attribute name="date" type="xs:string" use="required"/>
			<xs:attribute name="who" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
